.navbar-inverse {
  border-radius: 0px;
}

body {
  background: url('http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture2_1200.jpg');
}

h1, h2, h3, h4, h5 {
  color: #ff00d9;
}

#bloggor-nav .active {
  color: #ff61e7;
}

#bloggor-nav .navbar-inverse {
  linear-gradient(#ff61e7, 60%, #70787d)
}
