<div class="col-xs-10 offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{model.title}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-2 col-xs-offset-10">{{model.created_at}}</div>
      {{model.body}}
    </div>
  </div>
</div>
