
  <h1 id="title">Bloggor Front, testing..</h1>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>{{ link-to 'Home' 'application' }}</li>
          <li>{{ link-to 'About' 'about' }}</li>
          <li>{{ link-to 'Blogs' 'blogs' }}</li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">
  <div class="col-md-8 offset-2">
    {{outlet}}
  </div>
</div>
